<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>To-do list</title>
</head>
<body>
    <header>
        <div class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="/login">Login</a>
                </li>
                <li class="navbar-item">
                    <a href="/register">Register</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="welcome-text-wrap">
            <h1 class="welcome-text">{{ text }}</h1>
        </div>
    </main>
</body>
</html>